<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="color:red;">Error: Not Found</title>
</head>
<body>
    <div class="container">
        <center><h1 style="color:grey;font-size: 4rem;">Page not Found </h1></center>
        <center>
            <p style="font-size:1.5rem;width:400px">
                It seems like something went wrong! The page you are requesting does not exist, it may have been deleted, or you entered the wrong address.
            </p>
        </center>
        <center>
            <a href="/">Go to Main page</a>
        </center>
    </div>
</body>
</html>  
